/* assets/css/base/_reset.css */
*, *::before, *::after {
    box-sizing: border-box;
}
body, html, h1, h2, h3, p, figure, blockquote, dl, dd {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
}