
/* assets/css/base/_variables.css */
:root {
    /* Colors */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-gray-primary: #555555;
    --color-gray-secondary: #888888;
    --color-gray-border: #DDDDDD;
    --color-accent-blue: #007BFF;
    --color-accent-blue-light: #f0f8ff;

    /* Typography */
    --font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-serif: 'Playfair Display', serif; /* NEW FONT */
    --font-weight-normal: 500;
    --font-weight-bold: 700;
}